* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: overpass;
    src: url(interactive-rating-component-main/interactive-rating-component-main/Overpass/Overpass-VariableFont_wght.ttf);
}


body {
    background-color: hsl(216, 12%, 8%);
    color: white;
    font-size: 15px;
    font-family: overpass;
}

.container {
    background-color: hsl(214, 21%, 13%);
    border-radius: 5%;
    width: 90%;
    height: 40%;
    position: absolute;
    left: 5%;
    top: 30%;
    align-items: center;
    text-align: center;
    padding: 25px;
}
.you {
    background-color: hsl(213, 23%, 18%);
    font-size: 13px;
    border-radius: 20px;
    padding: 3% 0%;
    width: 60%;
    color: hsl(25, 97%, 53%);
    margin: 7% 20%;
}

.thank {
    font-size: 20px;
    margin-bottom: 7%;
}

.we {
    color: hsl(216, 12%, 54%);
}

@media screen 
  and (max-device-width: 1440px) { 
    .container {
        width: 30%;
        height: 45%;
        line-height: 30px;
        padding: 30px;
        position: absolute;
        left: 35%;

   }
   .thank {
    font-size: 30px;
   }

   p {
    font-size: 15px;
   }
}